Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [115]:
import pandas as pd

In [116]:
data = pd.read_csv('orders.csv')

In [117]:
data.describe()
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  object
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.4+ MB

In [118]:
data['order_date'] = pd.to_datetime(data['order_date'], format='%Y-%m-%d')

In [119]:
data['tshirt_category'].unique()

array(['White T-Shirt M', 'White T-Shirt F', 'Wh Tshirt F',
       'Black T-Shirt F', 'Hoodie', 'Black T-Shirt M', 'Tennis Shirt',
       'Wh Tshirt M', 'Bl Tshirt F', 'Bl Tshirt M'], dtype=object)

In [120]:
data['tshirt_category'] = data['tshirt_category'].apply(lambda a:a.replace("Wh ", "White "))
data['tshirt_category'] = data['tshirt_category'].apply(lambda a:a.replace("Bl ","Black "))
data['tshirt_category'] = data['tshirt_category'].apply(lambda a:a.replace("Tshirt","T-Shirt"))

In [121]:
data[['tshirt_colour', 'tshirt_type', 'tshirt_size']] = data['tshirt_category'].str.split(' ', 3, expand=True)
data = data.drop('tshirt_category',axis='columns')

/var/folders/6t/7x1s1vxs6y9dtl5_577rnn7h0000gn/T/ipykernel_36740/4228665487.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  data[['tshirt_colour', 'tshirt_type', 'tshirt_size']] = data['tshirt_category'].str.split(' ', 3, expand=True)

In [122]:
data.query("order_date > '2014-12-31' and order_date < '2016-08-02'")

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,20.0,1,White,T-Shirt,M
5,2016-01-15,9,HTS-061311-0003,061311,17.5,4,Black,T-Shirt,F
12,2015-11-24,15,HTS-je57lh-0001,je57lh,23.0,3,Hoodie,None,None
13,2015-10-10,8,HTS-252675-0002,252675,20.0,3,White,T-Shirt,M
15,2015-11-29,15,HTS-heb26i-0001,heb26i,17.5,1,Black,T-Shirt,F
...,...,...,...,...,...,...,...,...,...
26460,2016-07-09,15,HTS-mu1tec-0001,mu1tec,18.0,1,White,T-Shirt,F
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,17.5,1,Black,T-Shirt,F
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,18.0,1,White,T-Shirt,F
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,23.0,1,Hoodie,None,None
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,20.0,4,White,T-Shirt,M

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [123]:
data2 = pd.read_csv('customers.csv')
data2.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [124]:
print(f"Zamówienia: {data.shape}, klienci: {data2.shape}")

Zamówienia: (26552, 9), klienci: (18766, 6)

In [125]:
data2.rename(columns={"customerID": "customer_id"}, inplace=True)

In [126]:
joined = pd.merge(data, data2, on='customer_id', how='inner')
joined
# Metoda merge

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,20.0,1,White,T-Shirt,M,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,18.0,1,White,T-Shirt,F,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,20.0,1,White,T-Shirt,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,20.0,2,White,T-Shirt,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,18.0,3,White,T-Shirt,F,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25877,2016-11-02,11,HTS-762534-0001,762534,23.0,1,Hoodie,None,None,M,1963/8/24,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,58.3.164.178,True
25878,2016-11-16,4,HTS-hrpv38-0001,hrpv38,20.0,3,White,T-Shirt,M,F,1951/8/15,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,118.210.235.250,True
25879,2014-07-12,16,HTS-978569-0001,978569,23.0,1,Hoodie,None,None,M,1986/11/19,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,112.172.97.50,False
25880,2016-08-05,11,HTS-k0batl-0001,k0batl,20.0,2,White,T-Shirt,M,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False
25881,2017-03-13,11,HTS-200121-0001,200121,24.0,1,Tennis,Shirt,None,F,1969/8/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,56.182.53.24,False

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [127]:
joined.to_csv('orders_and_customers.csv',index=False)